body{
    background-image: url(https://media.tenor.com/W1lSy3yOaisAAAAM/spinning-spin.gif);
    width: auto;
}

h1{
    color: brown;
    background-color: aqua;
    text-align: center;
}

h2{
    color: gold;
    background-color: brown;
    text-align: center;
    
}

h3{
    background-color: aliceblue;
}